#contact {
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: url('../images/cont.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }
  
  #contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  
  #contact form h2 {
    color: #E6022D;
    font-size: 4rem;
  }
  
  #contact form input {
    height: 4rem;
    background: transparent;
    margin: 2rem 0;
    padding: 0 1rem;
    border: 0.2rem solid #E6022D;
    outline: none;
    color: #fff;
    font-weight: bold;
    width: 40vw;
  }
  
  #contact form input::-webkit-input-placeholder {
    color: #ccc;
  }
  
  #contact form input:-ms-input-placeholder {
    color: #ccc;
  }
  
  #contact form input::-ms-input-placeholder {
    color: #ccc;
  }
  
  #contact form input::placeholder {
    color: #ccc;
  }
  
  #contact form input:focus {
    background: #E6022D;
  }
  
  #contact form input[type="submit"] {
    height: 4rem;
    width: 14rem;
    background: transparent;
    border: 0.2rem solid #E6022D;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #E6022D;
    font-weight: bold;
    background: #E6022D;
    color: #fff;
  }
  
  #contact form input[type="submit"]:hover {
    background: #E6022D;
    color: #fff;
  }
  
  #contact form input[type="submit"]:hover {
    background: transparent;
  }
  
  #contact form textarea {
    resize: none;
    background: transparent;
    outline: none;
    padding: 1rem;
    color: #fff;
    border: 0.2rem solid #E6022D;
    font-weight: bold;
  }
  
  #contact form textarea::-webkit-input-placeholder {
    color: #ccc;
  }
  
  #contact form textarea:-ms-input-placeholder {
    color: #ccc;
  }
  
  #contact form textarea::-ms-input-placeholder {
    color: #ccc;
  }
  
  #contact form textarea::placeholder {
    color: #ccc;
  }
  
  #contact form textarea:focus {
    background: #E6022D;
  }
  
  #contact .image img {
    height: 80vh;
    width: 30vw;
    margin-top: 16rem;
  }