/* Created on 27/04/2020 */ 
@media (max-width: 991px) {
    html {
      font-size: 50%;
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 40%;
    }
    #about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    #about .image img {
      width: 70vw;
    }
    #about .content {
      text-align: center;
    }
    #about .content p {
      padding: 2rem;
    }
    #about .content .buttons {
      padding: 0;
    }
    #contact .image {
      display: none;
    }
    #contact form input {
      width: 90vw;
    }
  }
  
  @media (max-width: 620px) {
    header .fa-bars {
      display: block;
    }
    header nav {
      position: fixed;
      top: 0;
      left: -200%;
      height: 100vh;
      width: 80vw;
      background: #fff;
      -webkit-box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);
              box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);
    }
    header nav ul {
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    header nav ul li {
      margin: 2rem 0;
    }
    header nav ul li a {
      margin: 0;
      font-size: 4rem;
      color: #E6022D;
    }
    header nav ul li a:hover {
      color: #fff;
    }
    .nav-toggle {
      left: 0;
    }
    #home h1 {
      font-size: 6.5rem;
    }
    #home h3 {
      font-size: 4rem;
    }
    #home .icons {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
    .footer__wrapper {
        display: flex;
        flex-direction: column;
    }

    .call {
        margin-bottom: 35px;
    }
    .mail {
        margin-bottom: 35px;
    }
    .location {
        margin-bottom: 35px;
    }
  }